
html, body {
    margin: 0;
}
#imagem_fundo {
    background: url("img/gato-preto.png");
    height: 100%;
    text-align: center;
}
#titulo {
    color: rgb(0, 0, 0);
    padding-top: 20%;
    font-size: 70px;
    line-height: 0.6;

}
#subtitulo {
    color: rgb(9, 2, 2);
    margin-left: 20%;
    margin-right: 20%;
    border-top: 3px solid black;
    text-shadow: 1px 1px  black;
}
#acao {
    color: rgb(0, 0, 0);
    border: 1px white solid;
    padding: 10px 20px 10px 20px ;
}
html, body {
    margin: 0;
}
#imagem_fundo {
    background: url("fundo.jpg");
    height: 100%;
    text-align: center;
    background-image: cover;
}
#titulo {
    color: rgb(0, 0, 0);
    padding-top: 20%;
    font-size: 70px;
    line-height: 0.6;

}
#subtitulo {
    color: rgb(0, 0, 0);
    margin-left: 20%;
    margin-right: 20%;
    border-top: 3px solid rgb(0, 0, 0);
    text-shadow: 1px 1px  black;
}
#acao {
    color: rgb(0, 0, 0);
    border: 1px rgb(14, 12, 12) solid;
    padding: 10px 20px 10px 20px ;
}
.icone {
    width: 51px;
}
section {
    padding: 20px;
}
.destaque {
    background-color: #7a378a;
}
.imgeco {
    width: 90%;
}
 